<div class="week">
  <div class="week__view">
    <header class="week__view__ctrl">
      <h2>{{ this.weekService.currentMonth }} {{ this.year }}</h2>
      <mat-icon inline>keyboard_arrow_left</mat-icon>
      <mat-icon inline> keyboard_arrow_right</mat-icon>
    </header>
    <div class="week__view__columns">
      <div
        class="week__view__columns__column"
        *ngFor="let day of this.weekService.month[this.weekService.weekNumber]"
      >
        <h3 class="week__view__columns__column__header">
          {{ day.weekDay }}
          <span [ngClass]="+day.date === today ? 'active' : ''">
            {{ day.date }}
          </span>
        </h3>
        <ul>
          <li>
            Lunch :
            <app-meal-card
              [meal]="this.mealService.getMealById(day.lunch ? day.lunch : 0)"
            ></app-meal-card>
          </li>
          <li>
            Dinner :
            <app-meal-card
              [meal]="this.mealService.getMealById(day.dinner ? day.dinner : 0)"
            ></app-meal-card>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
