<div class="week">
  <div class="week__view">
    <header class="week__view__ctrl">
      <h2>
        {{ this.weekService.months[this.weekService.month] }}
        {{ this.weekService.year }}
      </h2>
      <mat-icon inline (click)="animate('previous')"
        >keyboard_arrow_left</mat-icon
      >
      <mat-icon inline (click)="animate('next')">
        keyboard_arrow_right</mat-icon
      >
    </header>
    <div class="week__view__columns" [ngClass]="moved !== '' ? moved : ''">
      <div
        class="week__view__columns__column"
        [ngClass]="day === '' ? 'disabled' : 'show'"
        *ngFor="
          let day of this.weekService.calendar[this.weekService.weekNumber];
          let i = index
        "
      >
        <h3 class="week__view__columns__column__header">
          {{ this.weekService.days[i] }}
          <span
            [ngClass]="
              +day === this.weekService.today &&
              this.weekService.months[this.weekService.month] ===
                this.weekService.currentMonthName
                ? 'active'
                : ''
            "
          >
            {{ day }}
          </span>
        </h3>
        <ul class="meal">
          <li class="meal__line">
            Lunch :
            <button
              *ngIf="day !== ''"
              mat-mini-fab
              color="primary"
              (click)="this.planMealService.planLunch(+day)"
            >
              <mat-icon>add</mat-icon>
            </button>
          </li>
          <li class="meal__line">
            Dinner :
            <button *ngIf="day !== ''" mat-mini-fab color="primary">
              <mat-icon>add</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
