@import "../../../variables.scss";
@import "../../../mixins.scss";

.card {
  min-width: 45%;
  height: 250px;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 0 rgba(0, 0, 0, 0.2);
  }
  &__deleteBtn {
    position: absolute;
    top: 8px;
    right: 4px;
  }
  & img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    border-radius: calc(20px - 0.4rem) 0px 0px calc(20px - 0.4rem);
  }
  &__text {
    width: 60%;
    height: 100%;
    padding: 0.8rem;
    @include flex-col;
    gap: 1rem;
    & p {
      @include flex-col;
      gap: 1rem;
    }
    &__ingredients,
    &__difficulty,
    &__tags {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 0.4rem;
      & b {
        font-weight: 500;
        color: white;
        background-color: $primary;
        padding: 0.4rem 1rem;
        border-radius: 20px;
        &:hover {
          background-color: darken($primary, 10%);
          cursor: pointer;
        }
      }
    }
    &__ingredients {
      max-height: 70px;
      overflow: auto;
    }
    &__difficulty {
      display: flex;
      align-items: center;
      gap: 0.4rem;
    }
  }
}
