@mixin main-content {
  width: 100%;
  height: 100%;
  background-color: white;
  padding-inline: 1rem;
  padding-block: 2rem;
}

@mixin flex {
  display: flex;
}

@mixin flex-col {
  @include flex;
  flex-direction: column;
}

@mixin content-pad{
  padding-inline: 10rem;
  padding-block: 4rem;
}
