/* You can add global styles to this file, and also import other style files */
@import "variables";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html,
body {
  height: auto;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

main {
  height: 100%;
  padding-top: 100px;
}

h1 {
  font-size: 2rem;
  font-weight: 600;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
}
