@use "@angular/material" as mat;
@include mat.core();
@import "../node_modules/@angular/material/index";

$primary: mat.define-palette($mat-blue, A700);
$accent: mat.define-palette($mat-amber, 600);

$my-theme: mat.define-light-theme($primary, $accent);

@include mat.all-component-themes($my-theme);
