<div class="card" *ngIf="meal">
  <img [src]="meal.image" />
  <div class="card__text">
    <h2>{{ meal.name }}</h2>
    <p>
      <span class="card__text__ingredients"
        ><strong>Ingredients:</strong> {{ meal.ingredients.join(", ") }}</span
      >
      <span class="card__text__difficulty"
        ><strong>Difficulty:</strong
        ><mat-icon color="warn" *ngFor="let n of range(meal.difficulty)"
          >star</mat-icon
        >
      </span>
      <span class="card__text__tags">
        <b *ngFor="let tag of meal.tags">
          {{ tag }}
        </b>
      </span>
    </p>
  </div>
</div>
