@import '../../../../mixins.scss';
@import '../../../../variables.scss';

header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ), url('/assets/images/mealprep2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  @include content-pad;
  color: $text-w;
}

.cta {
  display: flex;
  gap: 1rem;
}
