@import '../../../../mixins.scss';
@import '../../../../variables.scss';

header {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  background:
    linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.6)
    ), url('/assets/images/mealprep2.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
  @include content-pad;
  color: $text-w;
  & h1 {
    font-size: 3rem;
  }
}

.cta {
  display: flex;
  gap: 1rem;
}
